<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Add Teachings</title>
    <link rel="stylesheet" href="teacherStyle.css">
</head>

<body>
    <div>
        <h1>Add a new teaching!</h1>
        <form action="/addTeachings" method="POST" enctype="multipart/form-data">

            <label for="teacherCode">Teacher Id:</label>
            <select id="teacherCode" name="teacherCode">
                <option value="<%= id %>">
                    <%= id %>
                </option>
            </select>
            </select> <br>

            <label for="subjectCode">Subject Id:</label>
            <select id="subjectCode" name="subjectCode">
                <% subjects[0].subjectId.forEach(function(subject) { %>
                    <option value="<%= subject %>">
                        <%= subject %>
                    </option>
                    <% }); %>
            </select> <br>


            <label for="groupCode">Group Id:</label>
            <select id="groupCode" name="groupCode">
                <% groups.forEach(function(item) { %>
                    <option value="<%= item.id %>">
                        <%= item.id %>
                    </option>
                    <% }); %>
            </select> <br>

            <label for="day">Day:</label>
            <select name="day">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
            </select><br>

            <label for="start">Start:</label>
            <input type="text" name="start" placeholder="HH:mm"><br>

            <label for="end">End:</label>
            <input type="text" name="end" placeholder="HH:mm"><br>

            <input class="submit-button" type="submit" value="Send">
        </form>
    </div>
    <a href="/teacher" class="back-button">Back</a>
</body>

</html>