<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Create Wishlist</title>
    <link rel="stylesheet" href="style/teacherStyle.css">
</head>

<body>
    <div>
        <h1>Create a wishlist!</h1>
        <div id="message" class="message" style="display:none;"></div>
        <form id="addWishlists" action="/addWishlists" method="POST" enctype="multipart/form-data">

            <select id="teacherCode" name="teacherCode" hidden>
                <option value="<%= id %>" hidden>
                    <%= id %>
                </option>
            </select><br>

            <label for="credit">Credits: <%= credit %></label>
            <select id="credit" name="credit" hidden>
                <option value="<%= credit %>" hidden>
                    <%= credit %>
                </option>
            </select><br>

            <label for="day">Day:</label>
            <select id="day" name="day">
                <option value="">Choose...</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
            </select><br>
            <span class="error-message" id="dayError"></span><br>

            <label for="start">Start:</label>
            <input type="text" id="start" name="start" placeholder="HH:mm">
            <span class="error-message" id="startError"></span><br>

            <label for="end">End:</label>
            <input type="text" id="end" name="end" placeholder="HH:mm" readonly>
            <span class="error-message" id="endError"></span><br>

            <input class="submit-button" type="submit" value="Send">
        </form>
    </div>
    <a href="/teacher" class="back-button">Back</a>
    <script src="/validation/newWishlistValidation.js"></script>
    <script>
        document.getElementById('start').addEventListener('change', function () {
            const startTime = this.value;
            if (startTime) {
                const [hours, minutes] = startTime.split(':').map(Number);
                const endDate = new Date();
                endDate.setHours(hours + 2, minutes);

                const endHours = endDate.getHours().toString().padStart(2, '0');
                const endMinutes = endDate.getMinutes().toString().padStart(2, '0');

                document.getElementById('end').value = `${endHours}:${endMinutes}`;
            }
        });
    </script>
</body>

</html>