<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Groups timetable</title>
    <link rel="stylesheet" type="text/css" href="adminStyle.css">
</head>

<body>
    <% groups.forEach(function(group) { %>
        <h2>
            <%= group.id %>
        </h2>
        <table class="timetable">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Hours</th>
                    <th>Classroom</th>
                    <th>Group</th>
                    <th>Type</th>
                    <th>Subject</th>
                    <th>Teacher</th>
                </tr>
            </thead>
            <tbody>
                <% const days=['Monday', 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday' ]; days.forEach(function(day) {
                    const dayTeachings=group.teachings.filter(teaching=> teaching.day === day);
                    dayTeachings.forEach(function(teaching) { %>
                    <tr>
                        <td>
                            <%= teaching.day %>
                        </td>
                        <td>
                            <%= teaching.start %> - <%= teaching.end %>
                        </td>
                        <td>
                            <%= teaching.classroomName %>
                        </td>
                        <td>
                            <%= teaching.groupId %>
                        </td>
                        <td>
                            <%= teaching.subjectType %>
                        </td>
                        <td>
                            <%= teaching.subjectId %>
                        </td>
                        <td>
                            <%= teaching.teacherName %>
                        </td>
                    </tr>
                    <% }); }); %>
            </tbody>
        </table>
        <% }); %>
            <a href="javascript:history.go(-1)" class="back-button">Back</a>
</body>

</html>