<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Subject's timetable</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/timetable.css">
</head>

<body>
    <div class="container">
        <h1>
            <%= name %>
        </h1>
        <table class="table table-bordered timetable">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Hours</th>
                    <th>Classroom</th>
                    <th>Group</th>
                    <th>Type</th>
                    <th>Teacher</th>
                </tr>
            </thead>
            <tbody>
                <% const days=['Monday', 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday' ]; days.forEach(function(day) {
                    const dayTeachings=teachings.filter(teaching=> teaching.day === day);
                    dayTeachings.forEach(function(teaching) { %>
                    <tr>
                        <td>
                            <%= teaching.day %>
                        </td>
                        <td>
                            <%= teaching.start %> - <%= teaching.end %>
                        </td>
                        <td>
                            <%= teaching.classroomName %>
                        </td>
                        <td>
                            <%= teaching.groupId %>
                        </td>
                        <td>
                            <%= teaching.subjectType %>
                        </td>
                        <td>
                            <%= teaching.teacherName %>
                        </td>
                    </tr>
                    <% }); }); %>
            </tbody>
        </table>
    </div>
    <a href="javascript:history.go(-1)" class="btn btn-secondary back-button">Back</a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>