<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Teachings</title>
</head>

<body>

    <h1>Teachings: </h1>
    <% teachings.forEach(function(item) { %>
        <div>
            <h2> Teaching ID: <%= item.teachingId %>
            </h2>

            <p>Teacher Id:
                <%= item.teacherId %>
            </p>
            <p>Subject Id:
                <%= item.subjectId %>
            </p>
            <p>Group Id:
                <%= item.groupId %>
            </p>
            <p>Day:
                <%= item.day %>
            </p>
            <p>Start:
                <%= item.start %>
            </p>
            <p>End:
                <%= item.end %>
            </p>
            <div></div>
        </div>
        <% }); %>

</body>

</html>