<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Wishlists</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/adminStyle.css">
</head>

<body>
    <div id="groups-container">
        <ul id="groups-list">
            <% groups.forEach(group=> { %>
                <li data-groupid="<%= group.id %>">
                    <%= group.id %>
                </li>
                <% }); %>
        </ul>
    </div>

    <div id="details-container">
        <select id="teacherInput" placeholder="Teachers">
            <option disabled selected required>Select a teacher...</option>
        </select>
        <select id="subjectInput" placeholder="Subjects">
            <option disabled selected required>Select a subject...</option>
        </select>
    </div>

    <table id="timetable">
        <tr>
            <th>Hours</th>
            <th id="monday-header">Monday</th>
            <th id="tuesday-header">Tuesday</th>
            <th id="wednesday-header">Wednesday</th>
            <th id="thursday-header">Thursday</th>
            <th id="friday-header">Friday</th>
        </tr>
        <% for (let hour=8; hour <=18; hour+=2) { %>
            <tr>
                <td>
                    <% const formattedStartHour=(hour < 10) ? '0' + hour : hour; %>
                        <%= formattedStartHour %>:00 - <%= (hour+2) %>:00
                </td>
                <% for (let day=1; day <=5; day++) { %>
                    <% const formattedHour=(hour < 10) ? '0' + hour : hour; %>
                        <% const cellId='day' + day + '-hour' + formattedHour + ':00' ; %>
                            <td id="<%= cellId %>"></td>
                            <% } %>
            </tr>
            <% } %>
    </table>

    <div id="form-container">
        <form id="classroomForm">
            <select id="classroomSelect" name="classroom">
                <option disabled selected>Select a classroom...</option>
                <% classrooms.forEach(classroom=> { %>
                    <option value="<%= classroom.name %>" required>
                        <%= classroom.name %>
                    </option>
                    <% }); %>
            </select>
            <button type="submit" class="submit-button">Send</button>
        </form>
    </div>
    <div style="display: flex; align-items: center;">
        <div style="width: 10px; height: 10px; background-color: red; margin-right: 5px;"></div>
        <div>Teachers' wishlists</div>
    </div>

    <div style="display: flex; align-items: center;">
        <div style="width: 10px; height: 10px; background-color: purple; margin-right: 5px;"></div>
        <div>Group's timetable</div>
    </div>

    <a href="/scheduler" class="back-button">Back</a>

    <script src="validation/groupDetails.js"></script>
</body>

</html>